<% collect_comments.each do |comm| %>
<div class="row">
  <div class="span1 well text-center">
    <%= link_to("", vote_post_comment_path(comm.post, comm, vote: true), method: :post, remote: true, class: "icon-arrow-up") if logged_in? %>
    <br>
    <span id="comment-<%= comm.id %>-vote"><%= pluralize(comment_vote_factor(comm), "vote") %></span>
    <br>
    <%= link_to("", vote_post_comment_path(comm.post, comm, vote: false), method: :post, remote: true, class: "icon-arrow-down") if logged_in? %>
  </div>
  <div class="span8 well">
    <em><%= comm.content %></em>
    <br>
    <span class="quiet">Commented by </span>
    <%= label_tag "#{comm.user.username}" %>
  </div>
</div>
<% end %>