<%= render("layouts/topic", topic: @post.title) %>

<div>
  <p>
    <span><i class="icon-book"></i> Description</span>
    <p><%= @post.description %></p>
  </p>
  <p>
    <span><i class="icon-bookmark"></i> URL</span>
    <p><%= link_to "#{@post.url}", @post.url %></p>
  </p>
  <p>
    <span><i class="icon-user"></i> Creator</span>
    <p><%= label_tag "#{@post.user.username}" %></p>
  </p>
</div>
<hr>


<p><i class="icon-comment"></i> <%= pluralize(@post.comments.count, "Comment") %></p>
<%= render("comment", collect_comments: @post.comments) %>
<% if logged_in? %>
  <div>
  <%= render "comments/comment_form" %>
  </div>
<% end %>